*{
    margin: 0px;
    padding: 0px;
}
body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    flex-wrap: wrap;
}
.container{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 50px;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    width: fit-content;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}
h2{
    margin: 20px;
    margin-bottom: 40px;
}
.btn{
    padding: 10px 20px;
    margin: 10px;
    width: 70%;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: transform 0.5s , background-color 0.5s;
}
.btn:hover{
    transform: scale(1.03);
}