*{
    margin: 0px;
    padding: 0px;
}
body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    flex-wrap: wrap;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    width: 25%;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}
.gameBoard
{   display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    /* gap: 3px; */
    margin: 2rem auto;
    max-width: 300px;
    justify-content: center;
    align-items: center;
}
.cell{
    background-color: white;
    border : 2px solid black;
    border-radius: 10px;
    width: 70px;
    height: 70px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    transition: transform 0.3s, background-color 0.5s;
}
.btn{
    padding: 10px 20px;
    margin: 10px;
    width: 70%;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.5s;
}
.btnNoactive{
    background-color: grey;
    cursor: not-allowed;
}
.btn:not(.no-hover):hover{
    transform: scale(1.03);
}
.cell:not(.no-hover):hover{
    background-color: #b1b1b1;
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.3s, background-color 0.5s;
}
.text{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px;
}
@media (max-width: 480px) {
    .container{
        width: 90%;
    }
    
}
.wincell , .drawcell{
    transition: background-color 0.5s;
}
.wincell{
    background-color: #4CAF50 !important;
}
.drawcell{
    background-color: #ffcd71 !important;
}